.ipynb_checkpoints
0_Simple/
CUDAkernels.cu~
Makefile
Licence.txt
Longuet-Higgins.ipynb
N-Body.ipynb
README.md~
SchrodingerBOX.pdf
Sesion1_Test.ipynb
Sesion2_Intento_de_solucion_GPE.ipynb
Animation.ipynb
License.txt
addCPU
cpuAdd.c~
cpua
gpu
gpuAdd
gpuAdd.cu~
intervalo.pyc
taylor.py~
taylor.pyc
vectorAdd.tar.gz
